* {
    font-family: "Roboto", sans-serif;
    color: $black;
    font-weight: 400;
    font-size: 20px;
}

p {
    font-size: 20px;
    line-height: 34px;
    margin-top: 6px;
}

h2 {
    font-size: 38px;
    line-height: 50px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}
